@model QuickNote.Models.NoteModels.NoteDetail

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <hr />
    
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NoteId}, htmlAttributes: new { @class=" text-light text-decoration-none"}) |
    @Html.ActionLink("Back to List", "Index",null ,htmlAttributes: new { @class = " text-light text-decoration-none" })
</p>
